
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // USERS COLLECTION
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // ARTICLES COLLECTION
    match /articles/{articleId} {
      allow read: if true;
      allow create, delete: if request.auth != null;
      allow update: if request.auth != null || (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['views']));
    }

    // SUBSCRIBERS
    match /subscribers/{id} {
      allow create: if true; 
      allow read: if request.auth != null; 
    }

    // MESSAGES
    match /messages/{messageId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null; 
    }

    // ADVERTISEMENTS
    match /advertisements/{id} {
      allow read: if true; 
      allow write: if request.auth != null; 
    }

    // BUSINESSES
    match /businesses/{id} {
      allow read: if true; 
      allow write: if request.auth != null; 
    }

    // EVENTS
    match /events/{id} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // COMMENTS
    match /comments/{commentId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if request.auth != null; 
    }
  }
}
